<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Udemy Project Suite">

<listeners>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />

		<listener class-name="com.practice.listener.CustomListener" />
	</listeners>


 
  <test  name="Login Test">
    <classes>
      <class name="com.practice.testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test  name="Actions Test">
    <classes>
      <class name="com.practice.testcases.ActionsTest"/>
    </classes>
  </test> <!-- Test -->
  
   
  <test  name="Verify Test">
    <classes>
      <class name="com.practice.testcases.VerifyTest"/>
    </classes>
  </test> <!-- Test -->
  
 
 
  
</suite> <!-- Suite -->
